# ------------------------------------------------------------------------------
# | UTF-8 encoding                                                             |
# ------------------------------------------------------------------------------

# Use UTF-8 encoding for anything served as `text/html` or `text/plain`.
AddDefaultCharset utf-8

# Force UTF-8 for certain file formats.
<IfModule mod_mime.c>
    AddCharset utf-8 .atom .css .js .json .rss .vtt .webapp .xml
</IfModule>


AddType image/svg+xml .svg


RewriteEngine On 



 
RewriteRule    ^community/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$    community/guilds/viewpage.php?cleaned=1&guild=$1&page=$2    [NC,L]  
RewriteRule    ^news/([A-Za-z0-9-]+)/?$     news/index.php?cleaned=1&articleName=$1 [NC,L]
RewriteRule    ^forum/([A-Za-z0-9-]+)/?$     forum/viewforum.php?cleaned=1&forum=$1 [NC,L]
RewriteRule    ^forum/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([0-9]+)/?$     forum/viewthread.php?cleaned=1&forumName=$1&threadName=$2&pageNumber=$3 [NC,L]
RewriteRule    ^forum/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$     forum/viewthread.php?cleaned=1&forumName=$1&threadName=$2 [NC,L]
RewriteRule    ^search/([A-Za-z0-9-]+)/?$     search/index.php?searchcleaned=1&searchterms=$1 [NC,L]
RewriteRule    ^sitemap.xml     sitemap.php [NC,L]


ErrorDocument 404 /404.php

<IfModule headers_module>
    header set X-Clacks-Overhead "GNU Terry Pratchett"
</IfModule>


# ------------------------------------------------------------------------------
# | Compression                                                                |
# ------------------------------------------------------------------------------

<IfModule mod_deflate.c>

    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
    #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
    #  as `AddOutputFilterByType` is still in the core directives).
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/rss+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
    </IfModule>

</IfModule>