#navigation {
    button {
        display: none;
    }
    ul {
        @include mq($wide) {
            float: right;
            width: 50%;
            position: relative;
            z-index: 1;
            li {
                display: inline-block;
            }
        }
        ul {
            @include mq($useOffCanvasUpTo) {
                width: 100%;
                float: none;
                display: inline;
                &[aria-hidden] {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 100%;
                }
            }
            &[aria-hidden='true'] {
                display: none;
            }
        }
    }
}

.js #navigation {
    button {
        display: inline-block;
        cursor: pointer;
        margin: 0;
        &:after {
            content: "\25be";
            @include iconFont;
        }
    }
}
