#navigation ul {
    @include mq($wide) {
        float: right;
        width: 50%;
        position: relative;
        z-index: 1;
        li {
            display: inline-block;
        }
    }

    ul {
        @include mq($useOffCanvasUpTo) {
            width: 100%;
            float: none;
            display: inline;
            &[aria-hidden] {
                
                position: absolute;
                left: 0;
                top: 100%;
            }
        }
        &[aria-hidden='true'] {
            display: none;
        }
    }
}
.js #navigation ul {
        @include mq($useOffCanvasUpToMax, 'max') {
        li[aria-controls] {
            position: relative;
            display: block;
            cursor: pointer;
            &:after {
                content: "\25be";
                @include iconFont;
                position: absolute;
                top: 0;
                right: 0;
            }
            a {
                width: 90%;
                display: block;
            }
        }
    }
}