#loadMore {
    background: $accentColour;
    color: #fff;
    &:disabled {
        background: transparent;
        color: #000;
    }
}

#newsArticleList {
    // stops the animating items appearing over contente below.
    overflow: hidden;
    .animateIn {
        @include animation(1s linear 0s 1 slideUp);
    }
    @for $i from 0 through 4 {
        .animateOffset#{$i} {
            @include animation-duration($i*0.15s);
        }
    }
}


@include keyframes('slideUp') {
    from {
        transform: translateY(200px)
    }
    to {
        transform: translateY(0px)
    }
}
