// temp bits:

#mastHead, #navigation, #loginform, h1, .error, #searchForm {
    display: none;
}

body {
    background: #fff;
    color: #000;
}
p, ul, ol, a {
        color: #000;
}
// -------------------