$inkColours: '#c9271b',
'#e4d820',
'#e49320',
'#200aa8',
'#6d18bd',
'#11750a',
'#58533c',
'#fff',
'#e540e7';

.book {
    background: #bd9e7b url(../images/game-world/interface/parchment.jpg) no-repeat 0 0;
    width: 238px;
    left: 20px;
    top: 50%;
    @include togglePanel(0.8s);
    font-family: 'IM Fell English', 'Times New Roman', Palatino, Times, Serif;
    h1 {
        padding: 3px 6px 8px 6px;
        margin: 0;
        color: #000;
    }
    p {
        font-size: 14px;
        line-height: 1.1;
        padding: 3px 6px;
        margin: 0;
        color: #000;
    }
    @for $i from 1 through length($inkColours) {
        &.inkColour#{$i} {
            h1,
            p {
                color: #{nth($inkColours, $i)};
            }
        }
    }
}

// prevent the 'book' part of the inscription panel from reacting to clicks if the inscription panel itself isn't active:
#inscriptionPanel:not(.active) .book.active {
    pointer-events: none;
}