
body {
    margin: 0;
    background: #101010;

  // Disables pull-to-refresh but allows overscroll glow effects - https://developers.google.com/web/updates/2017/11/overscroll-behavior
  overscroll-behavior-y: contain;
}

@include mq($widest) {
    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}

::-moz-selection {
    background: #666;
    color: #fff;
    -moz-text-shadow: none;
}

::selection {
    background: #666;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

#gameWorld {
    /*
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    */
    display: block;
}

/*
#lightMapOverlay {
    position: absolute;
    left: 0;
    top: 0;
    @include transform(scale(4,4));
    @include transform-origin(0 0);
}
*/

#worldWrapper {
    position: relative;
    display: block;
}

#gameWrapper {
    width: 100%;
    width: 100vw;
    height: 100vh;
    font-family: "Trebuchet MS", trebuchet, arial, helvetica, sans-serif;
    cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;
}

.offScreenCanvas {
    display: none;
}

.visibleHide {
    @include visibleHide;
}

canvas {
    display: block;
}
