#housingTileSelection {
    margin: 0;
    padding: 0;

    li {
        display: block;
        float: left;
        background: #fff;
        position: relative;

        p {
            position: absolute;
            pointer-events: none;
            bottom: 0;
            opacity: 0;
            @include transition(opacity 0.4s ease);
            width: 120px;
            background: #fff;
            font-size: 11px;
        }

        &.active {
            box-shadow: 0 0 5px 3px #eebb3f;
            z-index: 1;
        }

        &:hover p,
        &.active p {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

#housingConstructionPanel {
    .selectWrapper {
        max-width: 220px;
    }

    p {
        color: #fff;
    }

    #housingTileSelection {
        p {
            color: #111;
        }
    }

    #housingRunningTotal {
        &.notEnough {
            background: red;
        }
    }
}

#housingConstructionTools {
    list-style: none;

    button {
        display: block;
        width: 26px;
        height: 26px;
        outline: 0;
        border: 1px solid #67332d;
        @include border-radius(3px);
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;


    }

    li {
        margin: 0;
        padding: 0;
        display: inline-block;

        &.active {
            button {
                box-shadow: 0 0 5px 3px #eebb3f;
            }
        }
    }
}


