#housingTileSelection {
    margin: 0;
    padding: 0;

    li {
        display: block;
        float: left;
        background: #fff;
        position: relative;

        p {
            position: absolute;
            pointer-events: none;
            bottom: 0;
            opacity: 0;
            @include transition(opacity 0.4s ease);
            width: 120px;
            background: #fff;
            font-size: 11px;
        }

        &.active {
            box-shadow: 0 0 5px 3px #eebb3f;
            z-index: 1;
        }

        &:hover p,
        &.active p {
            opacity: 1;
            pointer-events: auto;
        }
    }
}