$numberOfItemCategories: 20;

@mixin togglePanel($duration) {
    opacity: 0;
    position: absolute;
    @include transition(opacity $duration ease);
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    @include mq($wide, 'max') {
        display: none;
        opacity: 1;
        position: relative;
        left: 0;
        top: auto;
        max-width: 100%;
        clear: both;

        &.active {
            display: block;
            pointer-events: auto;
        }
    }
}

@mixin inventorySlot() {
    // slot
    width: 46px;
    height: 46px;
    padding: 3px;
    display: block;
    float: left;
    background: url(../images/game-world/interface/inventory-slot.png) no-repeat 50% 50%;
    cursor: url(../images/game-world/cursors/active.gif) 3 3, pointer;
    margin: 0;
    @include border-box;
    position: relative;
    box-shadow: 0 0 0 0 #eebb3f;
    @include transition(box-shadow 0.2s ease-in-out);

    .qty {
        position: absolute;
        right: 3px;
        bottom: 3px;
        text-align: right;
        color: #fff;
        cursor: default;
        font-size: 11px;
        pointer-events: none;

        &:after {
            opacity: 0;
            pointer-events: none;
            border-top: 12px solid transparent;
            border-right: 12px solid #16952b;
            content: "";
            display: block;
            @include transition(opacity 0.4s ease);
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    img {
        display: block; // don't want :active otherwise the tooltip blocks dragging the item up a slot in Chrome
// prevent alt text flashing up:
font-size: 0;
        // @include attention() {
        &:hover,
        &:focus {
            &+p {
                // reveal tooltip
                opacity: 1;
                pointer-events: auto;
                @include transform(translateY(0));
            }
        }
    }

    &.changed {
        box-shadow: 0 0 5px 3px #eebb3f;
        z-index: 1;
    }

    &.hidden {

        img,
        p,
        span {
            opacity: 0;
        }
    }

    &.locked {
        cursor: url(../images/game-world/cursors/blocked.gif) 3 3, auto;
    }

    p {
        // tooltip
        background: #eee;
        z-index: 1;
        margin: 0;
        bottom: 100%;
        color: #000;
        display: block;
        left: 0;
        min-width: 120px;
        opacity: 0;
        padding: 8px;
        pointer-events: none;
        position: absolute;
        font-size: 11px;
        cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;
        @include transform(translateY(10px));
        @include transition(all .25s ease-out);

        em {
            // tooltip item title
            display: block;
            font-size: 1.2em;
            font-style: normal;
        }
    }

    .gauge {
        width: 90%;
        margin: 0;
        position: absolute;
        left: 5%;
        border: 1px solid #666;
        bottom: 3px;

        span {
            height: 6px;
            display: block;
            @include transition(width 0.4s ease);
        }
    }

    .gaugeWater {
        span {
            background: #459edd;
        }
    }

}



.closePanel {
    position: absolute;
    top: 5px;
    right: 5px;
    text-indent: -9999px;
    background: url(/images/game-world/interface/panel-close.png);
    width: 19px;
    height: 19px;
    border: 0;
    cursor: url(../images/game-world/cursors/active.gif) 3 3, pointer;
    outline: none;
}

#inventoryPanels {
    .inventoryBag {
        // bag
        top: 570px;
        background: #666;
        left: 1060px;
        background: #53160d url(../images/game-world/interface/inventory-panel-bg.jpg) no-repeat 0 100%;
        z-index: 1;

        &:hover {
            // override inline z-index with !important:
            z-index: 3 !important;
        }

        @include togglePanel(0.4s);
        @include border-radius(3px);

        @include mq($wide) {
            @for $i from 2 through 6 {
                &:nth-child(#{$i}) {
                    left: 200px * (($i)-1) + 1060px;
                }
            }
        }
    }

    @for $i from 1 through $numberOfItemCategories {
        &.shopSpecialism#{$i} .itemCategory#{$i}~.qty:after {
            opacity: 1;
        }

        &.shopSpecialism#{$i} .itemCategory#{$i}~p {
            .price {
                display: none;
            }

            .specialismPrice {
                display: inline-block;
                color: #16952b;
            }
        }
    }
}

#draggableInventorySlot,
#draggableShopSlot {
    position: absolute;
    pointer-events: none;
    left: -100px;
    top: -100px;
    @include transform-origin(0 0);
    width: 44px;
    height: 44px;

    p {
        display: none;
    }

    .qty {
        position: absolute;
        right: 4px;
        bottom: 4px;
        text-align: right;
        color: #fff;
        cursor: default;
        font-size: 11px;
    }
}

#chestPanel {

    left: 55%;
    top: 45%;
    background: #53160d url(../images/game-world/interface/inventory-panel-bg.jpg) no-repeat 0 100%;
    z-index: 1;
    @include togglePanel(0.4s);
}

// slots in Inventory or Chests:
#inventoryPanels .inventoryBag,
#chestPanel {
    ol {
        margin: 0;
        width: 184px;
        padding: 0;
        background: #666;


        li {
            @include inventorySlot;
        }
    }

    .price {}

    .specialismPrice {
        display: none;
    }
}


// cartography panel:
#cartographicPanel {
    top: 30px;
    left: 160px;
    background: #666;
    color: #fff;
    @include togglePanel(0.4s);

    #cartographicTitle {
        // allow the entire panel to be dragged even if dragging from the header text:
        pointer-events: none;
    }

    canvas {
        background: #ded49d url(../images/cartography/overlays/1.png) no-repeat 0 0;
    }
}

#craftingPanel {
    left: 40%;
    // place it at the same location as #craftingSelectComponentsPanel but offset to the left so they're side-by-side:
    @include transform(translateX(-200px));

    @include mq($wide, 'max') {
        @include transform(translateX(0px));
    }

    top: 130px;
    background: #222;
    color: #fff;
    @include togglePanel(0.8s);

    #recipeTitleBar {
        // allow the entire panel to be dragged even if dragging from the header text:
        pointer-events: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: none;
            background: #666;
            @include transition(background 0.4s ease);
            padding: 6px 0;

            &.active {
                display: block;
            }

            img {
                display: inline-block; // define widths so the scrollbar knows the size while the images are loading:
                width: 40px;
                height: 40px;
            }

            &.highlighted {
                background: #b4a435;
            }
        }

        h3,
        p {
            margin: 0;
            padding: 0;
        }
    }
}

#craftingSelectComponentsPanel {
    @include togglePanel(0.8s);
    left: 40%;
    top: 130px;
    background: #222;
    color: #fff;
}

#craftingRecipeCreateButton {
    @include transition(background 0.4s ease);
    color: #fff;
    border: 0;
    background: #682810;
    cursor: url(../images/game-world/cursors/active.gif) 3 3, pointer;

    &:disabled {
        background: #000;
        cursor: default;
    }
}



#shopPanel {
    .shop {
        width: 322px;
        left: 55%;
        top: 335px;
        background: #000 url('../images/game-world/interface/inventory-panel-bg.jpg') 100% 100%;
        @include togglePanel(0.4s);

        img {
            @include attention() {
                &+p {
                    opacity: 1;
                    pointer-events: auto;
                    @include transform(translateY(0));
                }
            }
        }

        ol {
            padding: 0;
            margin: 0;
        }

        li {
            // slot
            width: 46px;
            height: 46px;
            padding: 3px;
            display: block;
            float: left;
            background: url(../images/game-world/interface/inventory-slot.png) no-repeat 50% 50%;
            cursor: url(../images/game-world/cursors/active.gif) 3 3, pointer;
            margin: 0;
            @include border-box;
            position: relative;
            box-shadow: 0 0 0 0 #eebb3f;
            @include transition(box-shadow 0.2s ease-in-out);

            .qty {
                position: absolute;
                right: 3px;
                bottom: 3px;
                text-align: right;
                color: #fff;
                cursor: default;
                font-size: 11px;
                pointer-events: none;
            }

            img {
                display: block;
            }

            &.changed {
                box-shadow: 0 0 5px 3px #eebb3f;
                z-index: 1;
            }

            &.hidden {

                img,
                p,
                span {
                    opacity: 0;
                }
            }
        }

        p {
            // tooltip
            background: #eee;
            z-index: 1;
            margin: 0;
            bottom: 100%;
            color: #000;
            display: block;
            left: 0;
            min-width: 120px;
            opacity: 0;
            padding: 8px;
            pointer-events: none;
            position: absolute;
            font-size: 11px;
            cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;

            .specialPrice {
                color: #16952b;
            }

            @include transform(translateY(10px));
            @include transition(all .25s ease-out);

            em {
                // tooltip item title
                display: block;
                font-size: 1.2em;
                font-style: normal;
            }
        }
    }
}

#collectionQuestPanels {
    @include togglePanel(0.4s);
    width: 322px;
    left: 60px;
    top: 575px;
    background: #53160d;
    color: #fff;
    z-index: 1;

    p {
        padding: 3px 8px 6px 8px;
        font-size: 12px;
        opacity: 0;
        @include transition(opacity 0.4s ease);
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    li {
        background: none;
        display: inline-block;
    }

    img {
        display: inline-block;
        margin: 0 2px 2px 0;
    }

    .notCollected img {
        @include filter(sepia(100%) opacity(30%));
    }

    h2 {
        font-size: 14px;
        padding: 3px 8px 6px 8px;
    }
}

#gameSettings {
    @include togglePanel(0.6s);

    @include mq($wide) {
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }

    background: #000;
    color: #fff;
}

.progressBar {
    width: 100%; // http://littlesvr.ca/apng/assembler/assembler.php
    background-image: url(../images/game-world/interface/progress-bar-sparkle.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    @include background-size(auto, 100%);
    height: 20px;
}

#gatheringPanel,
#surveyingPanel {
    @include togglePanel(0.4s);
    width: 322px;
    top: 40%;
    background: #53160d;
    color: #fff;
    z-index: 1;
    left: calc(50% + 50px);

    ul {
        @include pxRem('padding', 12);
        list-style: none;
        margin: 0;

        li {
            background: none;
            @include clearfix;
            padding: 3px 0;
        }
    }

    p {
        @include pxRem('font-size', 12);
        display: block;
        float: left;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    &.active .progressBar {
        // only show the transition when active - so initial values aren't animated to
        @include transition(width 0.1s ease);
    }
}







.progressBarWrapper {
    border: 1px solid #875c56;
    display: block;
    float: right;
    width: 224px;
}

#gatheringQualityBar .progressBar {
    background-color: #1f5440;
}

#gatheringPurityBar .progressBar {
    background-color: #c6ad47;
}

#gatheringQuantityBar .progressBar {
    background-color: #517db4;
}

#gatheringBarStability .progressBar {
    background-color: #9c2717;
}

#surveyingTimeBar {
    .progressBar {
        background-color: #517db4;
    }
}



.coolDown {
    pointer-events: none;
    position: absolute;
    left: 3px;
    width: 40px;
    bottom: 3px;
    height: 40px; // the JavaScript isn't vendor prefixed. does it need to be? ####
    transform: scaleY(0);
    @include transform-origin(0 100%);
    background: rgba(0, 0, 0, 0.7);
}

.lockedOverlay {
    position: absolute;
    left: 0px;
    width: 40px;
    height: 40px;
    bottom: 0px;
    border: 3px solid #ffa200;
    @include border-radius(6px);
    opacity: 0;
    pointer-events: none;
    @include transition(opacity 0.4s ease);
}

.locked .lockedOverlay {
    opacity: 1;
    pointer-events: auto;
}

#questJournal {
    @include togglePanel(0.4s);
    top: 40px;
    background: #666;
    left: 1480px;
    width: 400px;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        background: #cecece;
        display: none;
        @include clearfix;
        border-bottom: 4px solid #666;

        &.active {
            display: block;
        }
    }

    p {
        font-size: 12px;
    }

    h4,
    h5 {
        margin: 0;
    }

    .item {
        @include inventorySlot;
    }
}

#horticulturePanel {
    @include togglePanel(0.4s);
    top: 393px;
    background: #666;
    left: 60px;

    //width: 400px;
    table {

        th,
        td {
            padding: 0;
            text-align: center;
            color: #fff;
            position: relative;
        }

        img {
            display: block;

            &:hover+p {
                // reveal tooltip
                opacity: 1;
                pointer-events: auto;
                @include transform(translateY(0));
            }
        }

        p {
            // tooltip
            background: #eee;
            z-index: 1;
            margin: 0;
            bottom: 100%;
            color: #000;
            display: block;
            left: 0;
            min-width: 120px;
            font-weight: normal;
            opacity: 0;
            padding: 8px;
            pointer-events: none;
            position: absolute;
            font-size: 11px;
            cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;
            @include transform(translateY(10px));
            @include transition(all .25s ease-out);

        }
    }
}

#acceptQuestChoice {
    @include togglePanel(0.4s);
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));

    button {
        cursor: url(../images/game-world/cursors/active.gif) 3 3, pointer;
        background: #363636;
        @include transition(background 0.4s ease);
        border: 2px solid #cbbc9f;
        @include border-radius(5px);
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.69));
        color: #fff;
        @include pxRem('font-size', 12px);
        @include pxRem('padding', 8px 12px);
        @include pxRem('margin', 0 6px);
        line-height: 1;
        font-family: Lato, "Trebuchet MS", trebuchet, arial, helvetica, sans-serif;
        outline: 0;

        @include attention() {
            background: #857d6e;
        }
    }
}




#characterPanel {
    @include togglePanel(0.4s);
    top: 30px;
    left: 30px;

    #characterName {
        pointer-events: none;
        @include pxRem('padding-right', 24px);
    }

    #holdingIcon {
        img {
            display: block;
            @include border-radius(50%);
        }

        border:3px solid #c9a55a;
        background: #111;
        @include border-radius(50%);
        width: 40px;
        height: 40px;
    }

    #holdingGauge {
        opacity: 0;
        @include transition(opacity 0.4s ease);  border: 2px solid #c9a55a;
            background: #111;
        &.active {
            opacity: 1;
        }
        span {
            height: 6px;
            display: block;
            @include transition(width 0.4s ease);
          
        }

        &.gaugeWater span {
            background: #459edd;
        }
    }
}


#treasureMapPanels {
    .treasureMap {
        @include togglePanel(0.4s);
        left: 400px;
        top: 490px;
    }
}

#hireRetinueFollowerPanel {
    @include togglePanel(0.4s);
    left: calc(50% - 24px);
    top: 50%;
    font-size: 14px;
    background: #53160d;
    color: #fff;
    z-index: 4;
    p {
         padding: 3px 8px 3px 8px;
    }
    button {
        margin: 0 0 8px 8px;
        cursor: url(../images/game-world/cursors/active.gif) 3 3, pointer;
        border: 0;
        background: #53160d;
        color: #fff;
        text-transform: uppercase;
        margin: 6px;
        clear: both;
        display: inline-block;
        padding: 6px 16px;
        border: 2px solid #967834;
        outline: none;
    
    }
}

#hireRetinueFollowerPanelContent {
    padding: 3px 8px 6px 8px;
}

#catalogueQuestPanels {
    .catalogue {
        @include togglePanel(0.4s);
        left: 200px;
        top: 200px;
        

        ul {
            padding: 16px;
            margin: 0;
            list-style: none;
            @include clearfix;
            background: #ded49d url(../images/game-world/interface/parchment.jpg) no-repeat 0 0;
        }

        li {
            position: relative;
            display: block;
            width: auto;
            float: left;
            clear: left;
            font-family: 'Princess Sofia', cursive;
            font-size: 19px;

            &:nth-child(3n+2) {
                margin-left: 5px;
            }

            &:nth-child(2n+1) {
                @include transform(rotate(-1deg));
            }

            &.complete {
                &:after {
                    content: "";
                    display: block;
                    width: 120%;
                    position: absolute;
                    left: -10%;
                    top: 50%;
                    border-bottom: 1px solid #000;
                    @include transform(rotate(-1.5deg));
                }

                &:nth-of-type(2n):after {
                    transform: rotate(1deg);
                }

                &:nth-of-type(4n+1):after {
                    transform: rotate(3deg);
                }


            }
        }
    }
}