#sendPostPanel {
    input,
    textarea {
        width: 100%;
        border: 0;
        font-family: 'IM Fell English', 'Times New Roman', Palatino, Times, Serif;
        font-size: 13px;
        padding: 4px;
        background: #efefef;
        margin: 0 0 4px 0;
    }
    textarea {
        resize: none;
        height: 180px;
        outline: none;
    }
    button {
        border: 1px solid #666;
        background: #cecece;
        color: #000;
        font-size: 12px;
        outline: none;
    }
}


#postPanel {
    width: 322px;
    left: 70%;
    top: 335px;
    background: #000;
    font-size: 13px;
    @include togglePanel(0.4s);
    color: #fff;
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: block;
        border-bottom: 1px solid #111;
        @include clearfix;
        &:last-child {
            border-bottom: 0;
        }
        &.unread {
            background: #8a6800;
        }
        @include attention() {
            cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
        }
    }
    p {
        padding: 5px 6px;
        margin: 0;
    }
    .previewSlot {
@include inventorySlot();
margin-right: 6px;
    }
}

.postMessagePanel {
  opacity: 0;
  pointer-events: none;
       
    width: 238px;
    left: 60%;
    top: 335px;
    color: #111;
    font-size: 14px;
    @include togglePanel(0.4s);
    &.active {
       opacity: 1;
       pointer-events: auto;
    }
    p {
        padding: 6px;
        margin: 0;
        font-family: 'IM Fell English', 'Times New Roman', Palatino, Times, Serif;
    }
    .postSlot {
        @include inventorySlot();
        margin: 5px 6px;
    }
    .postParchment {
         background: #bd9e7b url(../images/game-world/interface/parchment.jpg) no-repeat 0 0;
         @include clearfix;
    }
}
#receivedPostPanel, #sendPostPanel {
display: none;
&.active {
    display:block;
}
}



