#retinuePanel {
    width: 322px;
    left: 70%;
    top: 215px;
    background: #000;
    font-size: 13px;
    @include togglePanel(0.4s);
    color: #fff;
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: block;
        border-bottom: 1px solid #111;
        @include clearfix;
        &:last-child {
            border-bottom: 0;
        }
    }
    p {
        padding: 5px 6px;
        margin: 0;
    }
    h3,
    h2 {
        padding: 5px 6px;
        margin: 9px 0 0 0;
    }
}

.mapWrapper {
    position: relative;
}

.mapWrapper img {
    display: block;
    width: 100%;
}

.mapLocation {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(200, 200, 20, 0.6);
    border: 2px solid #fff;
    @include border-radius(20px);
    @include transform(translate(-10px, -10px));
    z-index: 1;
    @include attention() {
        &+.mapLocationTooltip {
            opacity: 1;
        }
    }
}

.mapLocationTooltip {
    pointer-events: none;
    opacity: 0;
    @include transition(opacity 0.4s ease);
    padding: 6px;
    position: absolute;
    width: 200px;
    @include transform(translate(15px, -10px));
    background: #572800;
    color: #fff;
    z-index: 2;
    h4,
    p {
        margin: 0;
        padding: 0;
        font-size: 11px;
    }
}