#retinuePanel {
    width: 356px;
    left: 400px;
    top: 20px;
    background: #000;
    font-size: 13px;

    @include togglePanel(0.4s);
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: block;

        @include clearfix;
        &.hasDragCopy {
            opacity: 0.2;
        }
    }
    p {
        padding: 5px 6px;
        margin: 0 0 9px 0;
    }
    h3,
    h2 {
        padding: 5px 6px;
        margin: 0;
    }
}



#retinuePanel .portrait,
#draggableFollower .portrait,
.followerSlot {

    float: left;
    display: block;

    width: 49px;
    height: 53px;
    padding: 7px 8px;
    @include border-box;
    img {
        width: 33px;
        height: 33px;
        @include border-radius(33px);
    }
}

#retinuePanel {
    .portrait {
        background: url(../images/game-world/interface/retinue/active-follower.png) no-repeat 100% 100%;
        margin-right: 6px;
    }
    .available .portrait {
        background-image: url(../images/game-world/interface/retinue/waiting-follower.png);
    }
}

#retinueList {
    h3 {
        padding: 5px 6px;
        margin: 0;
        font-size: 13px;
        color: #fff;
    }
    p {
        padding: 5px 6px;
        margin: 0 0 9px 0;
        font-size: 11px;
        color: #fff;
    }
}

#draggableFollower {
    .portrait {
        background-image: url(../images/game-world/interface/retinue/waiting-follower.png);
    }
}


#retinueAvailableQuestMap {
    position: relative;
    #activeContinent {
        display: block;
        width: 100%;
    }
}


.mapLocation {
    position: absolute;
    width: 20px;
    height: 20px;
    outline: none;
    padding: 0;

    cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
    background: rgba(200, 200, 20, 0.6);
    border: 2px solid #fff;
    @include border-radius(20px);
    @include transform(translate(-10px, -10px));
    z-index: 1;
    @include transition(opacity 0.4s ease);
    &:hover {
        &+.mapLocationTooltip {
            opacity: 1;
        }
    }
    opacity: 0;
    &.active {
        opacity: 1;
    }
    &.needsToReturnToBase {
        background: rgba(200, 200, 20, 0.6) url(../images/game-world/interface/retinue/base-icon.png) no-repeat 50% 50%;
    }
}

#homeBaseLocation {
    position: absolute;
    width: 28px;
    height: 28px;
    outline: none;
    padding: 0;
    background: rgba(20, 200, 20, 0.6);
    border: 2px solid #fff;
    @include border-radius(20px);
    @include transform(translate(-14px, -14px));
    z-index: 1;
}

.followerLocation {



    position: absolute;

    @include transform(translate(-10px, -10px));
    img {
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        @include border-radius(20px);
        @include border-radius(20px);
    }
    z-index: 2;

    &:hover {
        &+.mapLocationTooltip {
            opacity: 1;
        }
    }
}


.mapLocationTooltip {
    pointer-events: none;
    opacity: 0;
    @include transition(opacity 0.4s ease);
    padding: 6px;
    position: absolute;
    width: 120px;
    @include transform(translate(15px, -10px));
    background: #572800;
    color: #fff;
    z-index: 3;
    h4,
    p {
        margin: 0;
        padding: 0;
        font-size: 11px;
    }
}

#retinueDetailWrapper {
    position: relative;
}

.retinueQuestLocationDetailPanel {

    background: #bd9e7b url(../images/game-world/interface/parchment.jpg) no-repeat 100% 0;
    @include clearfix;
    width: 100%;
    left: 0;
    top: 0;
    color: #111;
    font-size: 14px;
    h4,
    p {
        padding: 0 6px;
        color: #111;
    }
    @include togglePanel(0.4s);

    .rewardSlot {
        @include inventorySlot();
        margin: 5px 6px;
    }
    .followerSlot {
        background: url(../images/game-world/interface/retinue/empty-follower.png) no-repeat 100% 100%;
        width: 49px;
        height: 53px;
        float: left;
    }
}




#draggableFollower {
    position: absolute;
    pointer-events: none;
    left: -100px;
    top: -100px;
    @include transform-origin(0 0);
    background: #000;
}


/*
.dropFollowersPanel {
    clear: both;
    background: rgba(0, 0, 0, 0.2);
    @include clearfix;
    padding: 5px;
    margin: 5px;
}
*/

#retinueQuestTimeRequired {
    color: #fff;
}




.retinueCompletePanel {
    background: #36210c url(../images/game-world/interface/retinue/reward-chest.jpg) no-repeat 50% 0;
    border: 3px solid #fed308;
    position: absolute;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    width: 100%;
    z-index: 3;
    @include border-box;
    @include clearfix;
    padding: 100px 6px 12px 6px;
    pointer-events: none;
    opacity: 0;
    @include transition(opacity 0.4s ease);

    h2 {
        color: #fff;
        text-align: center;
        font-size: 16px;
    }
    h3 {
        color: #fff;
        text-align: center;
        font-size: 14px;

        text-transform: uppercase;
    }

    .rewardSlot {
        @include inventorySlot();
    }
    .takeRewards {
        cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
        border: 0;
        background: #53160d;
        color: #fff;
        text-transform: uppercase;
        margin: 6px auto;
        clear: both;
        display: block;
        padding: 6px 16px;
        border: 2px solid #967834;
        outline: none;
    }
}

#retinuePanel.active .retinueCompletePanel.active {
    opacity: 1;
    pointer-events: auto;
}


#retinuePanel {
.undiscovered {
    width: 9.43%;
    height: 16.89%;
    position: absolute;
    background: url(../images/world-maps/undiscovered.png);
    @include background-size(cover);
    @include transform(translate(-50%, -50%));
   p {
    opacity: 0;
    text-align: center;
     width: 100%;
    font-size: 9px;
    padding: 35% 0 0 0;
    pointer-events: none;
    margin: 0;
    @include transition(opacity 0.4s ease);
   }
   &.explorable {
    @include attention() {
        p {
            opacity: 1;
        }
    }
   }
}
}