#interface {
    @include transition(opacity 0.4s ease);
    opacity: 0;
    &.active {
        opacity: 1;
    }
}

#displayZoneName {
    pointer-events: none;
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 0;
    top: 50%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    @include transform(translateY(-50%));
    &.active {
        @include animation(fadeOut 3s ease 0s 1 normal forwards);
    }
}

#notification {
    pointer-events: none;
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    @include transform(translateY(-50%));
    &.active {
        @include animation(fadeOut 3s ease 0s 1 normal forwards);
    }
}

@include keyframes('fadeOut') {
    0 {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tabHeader {
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding: 0 12px 0 0;
}

.tabs {
    background: #ccc;
    border: 1px solid #fff;
    border-bottom: #fff;
    color: #fff;
    padding: 4px 12px;
    margin-left: 6px;
    display: inline-block;
    position: relative;
    top: 1px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    @include transition(background .4s ease);
    &.active {
        background: #000;
    }
}

.draggableBar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
    font-family: 'Bree Serif', Georgia, 'Times New Roman', Times, Palatino, serif;
    @include text-shadow( -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000);
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #53160d;
    @include box-shadow(inset 1px 1px 0 0px rgba(0, 0, 0, 0.7), inset -1px -1px 0 0px rgba(255, 255, 255, 0.3));
    background: #53160d url(../images/game-world/interface/panel-header.png) repeat-x 0 0;
    color: #fff;
    padding: 3px 8px 6px 8px;
    @include border-radius(3px);
}

#toolbar {
    width: 100%;
    height: 40px;
    background: #666;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

#openSettings {
    color: #fff;
    text-decoration: none;
    background: #000;
    @include border-radius(5);
    padding: 8px;
    display: inline-block;
}

#actionBar {
    display: inline-block;
    margin: 0 5%;
    ol {
        margin: 0;
        padding: 0;
        
    }
    li {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 1px 0 0;
        padding: 0;
        position: relative;
        background: transparent;
        &.active {
            @include attention() {
  cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
            }
        }
          @include attention() {
                p {
                    opacity: 1;
                    pointer-events: auto;
                    @include transform(translateY(0));
                }
            }
    }
    p {
     // tooltip
        background: #eee;
        z-index: 1;
        margin: 0;
        bottom: 100%;
        color: #000;
        display: block;
        left: 0;
        min-width: 120px;
        opacity: 0;
        padding: 8px;
        pointer-events: none;
        position: absolute;
        font-size: 11px;
        cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;
        @include transform(translateY(10px));
        @include transition(all .25s ease-out);
    }

}