#herbariumCatalogue {
    list-style: none;
    li div {
        @include pxRem('padding', 20px 0);
    }
    @include mq($widest) {
        .spotlight {
            width: 40%;
        }
        .inbetweenRow {
            width: 25%;
        }
    }
    .offset1 {
        @include transform(rotate(1deg) translateY(-2.5%));
    }
    .offset2 {
        @include transform(rotate(-1deg) scale(0.98, 0.98));
    }
    .offset3 {
        @include transform(rotate(-1deg) translate(6%, 1.5%));
    }
    .offset4 {
        @include transform(translateY(2.5%));
    }


}



#modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    &.opening,
    &.closing {
        display: block;
    }
}

#cd-modal {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 5;
    @include transition(opacity 0.8s ease);
}

.opening #cd-modal {
    opacity: 1;
}

#cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translateY(-50%) translateX(-2%));
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(../images/herbarium/ink-transition-NOT-MINE.png) no-repeat 0 0;
    @include background-size(100%, 100%);
}

.opening .bg-layer {
    @include animation(ink-fill 0.8s steps(24));
    @include animation-fill-mode(forwards);
}

.closing .bg-layer {
    @include animation(remove-ink 0.8s steps(24));
    @include animation-fill-mode(forwards);
}

@include keyframes('ink-fill') {
    from {
        transform: translateY(-50%) translateX(-2%);
    }
    to {
        transform: translateY(-50%) translateX(-98%);
    }
}

@include keyframes('remove-ink') {
    from {
        transform: translateY(-50%) translateX(-98%);
    }
    to {
        transform: translateY(-50%) translateX(-2%);
    }
}


