/* autumn earth print style */

body {
background-color: #fff;
font-size: 9pt;
color: #000;
text-align: left;
letter-spacing: 0em;
}

h1, h2, h3, h4 {
font-variant: small-caps;
color: #000;
}

/* write link destination after link: */
a:after {
content: " (" attr(href) ") ";
font-size: 0.8em;
}

/* if the links are relative, then add the domain: */
a[href^="/"]:after {
content: " (http://www.autumnearth.com" attr(href) ") ";
}

/* hide any empty links */
a:empty {
display: none;
}

/* write definitions: */
abbr:after {
content: " (" attr(title) ") ";
}

acronym:after {
content: " (" attr(title) ") ";
}