



/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

@page {
    margin: 1in 0.5in 0.5in;
    orphans: 4;
    widows: 3;
}

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
        // show link in body font in case it's an icon font:
        font-family: $bodyFont;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
        font-family: $bodyFont;
    }

// add full path for relative links:
  a[href^="/"]:after {
        content: " (#{$siteRoot}" attr(href) ")";
        font-family: $bodyFont;
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    p,li,figure,tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

 

 

    h1,h2,h3,h4,h5,h6 {
        page-break-after: avoid;
    }

// make the logo solid black when printed:
#autumnEarth img {
    -webkit-filter: grayscale(100%) brightness(0%); 
    filter: grayscale(100%) brightness(0%); 
}

}


