

/* #Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFontLoaded;
    color: $titleColour;
padding: 0;
font-weight: normal;


// allow headers to wrap so they don't break out of their grid column:
// https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
 overflow-wrap: break-word;
  word-wrap: break-word;

  // only really want hypenation to apply to words that will break:
  /*
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
*/
}


h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    font-weight: inherit;
}



// $headingSize: $baseFontSize*$typeScale;
// $headingLineHeight: $baseFontSize/($typeScale*$typeScale)+1;
// @for $i from 6 through 1 {
//     $headingSize: $headingSize * $typeScale;
//     $headingLineHeight: $headingLineHeight * $typeScale;
 //    h#{$i} {
    //     @include pxRem('font-size', round($headingSize));
   //      @include pxRem('margin', 0 0 round($verticalRhythm*$headingLineHeight) 0);
   //      @include pxRem("line-height", round($verticalRhythm*$headingLineHeight));
  //   }
// }


// from typecast:
h1 {
   font-size: 111px;
   line-height: 90px;
   margin: 38px 0px 19px 0px;
     padding: 0;
}

h2 {
   font-size: 79px;
   line-height: 46px;
   margin: 49px 0px 31px 0px;
     padding: 0;
}

h3 {
   font-size: 56px;
   line-height: 36px;
   margin: 41px 0px 28px 0px;
    padding: 0;
}

h4 {
  
   font-size: 39px;
   margin: 32px 0 27px 0;
   padding: 0;
}

h5 {
   margin: 36px 0px 23px 0px;
  
   font-size: 28px;
   padding: 0;
}

h6 {
   font-size: 20px;
 
   line-height: 21px;
   margin: 40px 0 23px 0;
   padding: 0;
}





body, input, select, .selectWrapper, textarea, button {
   font-family: $bodyFontLoaded; 
}



p, ol, ul, dl, button, input, select, .selectWrapper, textarea, label, table {
    // load web font if JS is disabled:
@include pxRem("font-size", $baseFontSize);
     @include pxRem("line-height", round($verticalRhythm*$baseFontSize));
  @include pxRem("margin", 0 0 12 0);
    letter-spacing: 0.02em;
   
   
}




/*
// prevent iOS zooming on inputs that are smaller than 16px:
// wrap these inputs in .inputWrapper
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
select,
textarea {
  @include preventZoomTextSize($baseFontSize);
}
*/

p, ol, ul, dl {
     padding: 0; 
    color: $baseColour;
}

p {
  // use Old Style numerals in running text
  // https://alistapart.com/article/web-typography-numerals
  font-variant-numeric: oldstyle-nums;
}

a {
  text-decoration: none;
}
p {
  a {
    text-decoration: underline;
  }
}

// https://alistapart.com/article/web-typography-numerals
sub { font-feature-settings: "subs" 1; }

@supports (font-variant-position: sub) {
    sub { font-feature-settings: normal;
          font-variant-position: sub; }
}

@supports ((font-variant-position: sub) or (font-feature-settings: "subs" 1)) {
    sub { vertical-align: inherit;
          font-size: inherit; }
}



sup { font-feature-settings: "sups" 1; }

@supports (font-variant-position: super) {
    sup { font-feature-settings: normal;
          font-variant-position: super; }
}

@supports ((font-variant-position: super) or (font-feature-settings: "sups" 1)) {
    sup { vertical-align: inherit;
          font-size: inherit; }
}


.js {
    // defaulting to show fonts, but if JS is enabled, then use the font face observer
    body,
    input,
    select,
    button,
    .selectWrapper,
    textarea {
        font-family: $bodyFont;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $titleFont;
    }
}


.fontsLoaded {
    // web font loaded and JS enabled:
    body,
    input,
    select,
    .selectWrapper,
    textarea {
        font-family: $bodyFontLoaded;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $titleFontLoaded;
    }
}



p {
    text-indent: 1.3em;
    margin: 0; 
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, p:first-of-type { 
    // remove paragraph indentation for the first paragraph or any after a header:
text-indent: 0;
 }






abbr {
    cursor: help;
}




@font-face {
    font-family: Merriweather;
    font-display: fallback;
    src: url('../fonts/merriweather_light-webfont.eot');
    src: url('../fonts/merriweather_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/merriweather_light-webfont.svg#merriweather_lightregular') format('svg'),
    url('../fonts/merriweather_light-webfont.woff2') format('woff2'),
    url('../fonts/merriweather_light-webfont.woff') format('woff'),
    url('../fonts/merriweather_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
// faux-bold looks nicer
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-bold-webfont.eot');
    src: url('../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg'),
    url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
    url('../fonts/merriweather-bold-webfont.woff') format('woff'),
    url('../fonts/merriweather-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/

@font-face {
    font-family: Merriweather;
    font-display: fallback;
    src: url('../fonts/merriweather-italic-webfont.eot');
    src: url('../fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg'),
    url('../fonts/merriweather-italic-webfont.woff2') format('woff2'),
    url('../fonts/merriweather-italic-webfont.woff') format('woff'),
    url('../fonts/merriweather-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: AlegreyaSC;
    font-display: fallback;
    src: url('../fonts/alegreyasc-regular-webfont.eot');
    src: url('../fonts/alegreyasc-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alegreyasc-regular-webfont.svg#AlegreyaSC') format('svg'),
         url('../fonts/alegreyasc-regular-webfont.woff2') format('woff2'),
         url('../fonts/alegreyasc-regular-webfont.woff') format('woff'),
         url('../fonts/alegreyasc-regular-webfont.ttf') format('truetype');
         
    font-weight: bold;
    font-style: normal;

}