// colours:
$baseColour: #fff;
$secondaryColour: #212121;
$accentColour: #ffd227;
$titleColour: #e06900;

$siteRoot: "https://www.autumnearth.com";

// typography:
$titleFont: georgia, palatino, "times new roman", serif;
$titleFontLoaded: georgia, palatino, "times new roman", serif;
$bodyFont: palatino, georgia, "times new roman", serif;
$bodyFontLoaded: forolight, palatino, georgia, "times new roman", serif;

// grid:
$gutter: 3%;
$gridColumns: 12;

// breakpoints:
$medium: 30em;
$wide: 54em;
$widest: 70em;

$maxWidth: 102em;

$triggerIEAt: $widest;

$useOffCanvasUpTo: $wide;
$offCanvasWidth: 70%;

$radioAndCheckboxSize: 16px;