@import "variables";
@import "shared/mixins";
$cardWidth: 84px;
$cardHeight: 102px;
body {
    margin: 0;
}

::-moz-selection {
    background: #666;
    color: #fff;
    -moz-text-shadow: none;
}

::selection {
    background: #666;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    display: block;
}

#worldWrapper {
    position: relative;
    display: inline-block;
}

#gameWrapper {
    width: 100%;
    width: 100vw;
    height: 100vh;
    font-family: "Trebuchet MS", trebuchet, arial, helvetica, sans-serif;
    cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;
}

// ------------------
// UI
// ------------------
#displayZoneName {
    pointer-events: none;
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 0;
    top: 50%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    @include transform(translateY(-50%));
    &.active {
        @include animation(fadeOut 3s ease 0s 1 normal forwards);
    }
}

#notification {
    pointer-events: none;
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    @include transform(translateY(-50%));
    &.active {
        @include animation(fadeOut 3s ease 0s 1 normal forwards);
    }
}

@include keyframes('fadeOut') {
    0 {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.draggableBar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

// ------------------
// inventory panels, shops panels etc:
#inventoryPanels {
    .inventoryBag {
        // bag
        position: absolute;
        top: 650px;
        background: #666;
        left: 860px;
        @for $i from 2 through 6 {
            &:nth-child(#{$i}) {
                left: 200px * (($i)-1) + 870px;
            }
        }
        z-index: 1;
    }
    .draggableBar {
        background: #333;
        padding: 5px;
        color: #fff;
    }
    ol {
        margin: 0;
        width: 184px;
        padding: 0;
        background: #666;
        padding: 2px 0 0 2px;
        @include transition(opacity 0.4s ease, transform 0.4s cubic-bezier(.12, 1.07, .29, 1.24));
        // inactive state:
        opacity: 0;
        @include transform(scale(0.95));
        pointer-events: none;
        &.active {
            opacity: 1;
            pointer-events: auto;
            @include transform(scale(1));
        }
        img {
            @include attention() {
                & + p {
                    opacity: 1;
                    pointer-events: auto;
                    @include transform(translateY(0));
                }
            }
        }
        li {
            // slot
            width: 46px;
            height: 46px;
            padding: 3px;
            display: block;
            float: left;
            background: url(../images/game-world/interface/inventory-slot.png) no-repeat 50% 50%;
            cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
            margin: 0;
            @include border-box;
            position: relative;
            box-shadow: 0 0 0 0 #eebb3f;
            @include transition(box-shadow 0.2s ease-in-out);
            .qty {
                position: absolute;
                right: 3px;
                bottom: 3px;
                text-align: right;
                color: #fff;
                cursor: default;
                font-size: 11px;
                pointer-events: none;
            }
            img {
                display: block;
            }
            &.changed {
                box-shadow: 0 0 5px 3px #eebb3f;
                z-index: 1;
            }
            &.hidden {
                img,
                p,
                span {
                    opacity: 0;
                }
            }
        }
    }
    p {
        // tooltip
        background: #eee;
        z-index: 1;
        margin: 0;
        bottom: 100%;
        color: #000;
        display: block;
        left: 0;
        min-width: 120px;
        opacity: 0;
        padding: 8px;
        pointer-events: none;
        position: absolute;
        font-size: 11px;
        cursor: url(../images/game-world/cursors/default.gif) 3 3, auto;
        @include transform(translateY(10px));
        @include transition(all .25s ease-out);
        em {
            // tooltip item title
            display: block;
            font-size: 1.2em;
            font-style: normal;
        }
    }
}

#draggableInventorySlot {
    position: absolute;
    pointer-events: none;
    left: -100px;
    top: -100px;
    @include transform-origin(0 0);
    width: 44px;
    height: 44px;
    p {
        display: none;
    }
    .qty {
        position: absolute;
        right: 4px;
        bottom: 4px;
        text-align: right;
        color: #fff;
        cursor: default;
        font-size: 11px;
    }
}

#toolbar {
    width: 100%;
    height: 40px;
    background: #666;
}

// cartography panel:
#cartographicPanel {
    position: absolute;
    top: 20px;
    left: 860px;
    background: #666;
    color: #fff;
    canvas {
        background: #ded49d url(../images/cartography/overlays/1.png) no-repeat 0 0;
    }
}

.offScreenCanvas {
    display: none;
}

#dialogue {
    background: #363636;
    border: 2px solid #cbbc9f;
    @include border-radius(10px);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.69));
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    @include pxRem('padding', 10px 12px);
    @include pxRem('font-size', 12px);
    @include pxRem('padding', 14px);
    min-width: 20px;
    max-width: 295px;
    opacity: 0;
    @include transition(opacity 0.4s ease);
    pointer-events: none;
    &.slowerFade {
        @include transition-duration(2s);
    }
    &:before {
        border-color: #cbbc9f transparent;
        border-style: solid;
        border-width: 14px 2px 0 14px;
        bottom: -14px;
        content: "";
        display: block;
        left: 25px;
        position: absolute;
        width: 0;
    }
    &:after {
        border-color: #363636 transparent;
        border-style: solid;
        border-width: 14px 2px 0 14px;
        bottom: -10px;
        content: "";
        display: block;
        left: 24px;
        position: absolute;
        width: 0;
    }
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

#cardGameWrapper {
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    @include transition(opacity 0.6s ease);
    &.active {
        pointer-events: auto;
        opacity: 1;
    }
    canvas {
        width: 800px;
    }
}

.card {
    &.players {
        background: #ff00cc;
    }
    &.npcs {
        background: #ffcc00;
    }
}

#cardAlbum {
    width: 400px;
    background: #666;
    position: absolute;
    left: 860px;
    top: 320px;
}

#cardAlbumList {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        width: $cardWidth/2;
        height: $cardHeight/2;
        background: #cecece;
        display: block;
        float: left;
        margin: 0 4px 4px 0;
        img {
            width: 100%;
            height: auto;
        }
    }
}

#boosterPack {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -$cardHeight/2;
    width: 100%;
    @include transition(opacity 0.6s ease 1.5s);
    &.active {
        pointer-events: auto;
        opacity: 1;
        @include transition-delay(0s);
    }
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .cardFlip {
        display: inline-block;
        margin: 0 10px;
        @include perspective(1000px);
        &.active {
            .flipper {
                @include transform(rotateY(180deg));
            }
        }
    }
    .cardFlip,
    .front,
    .back {
        width: $cardWidth;
        height: $cardHeight;
    }
    .flipper {
        @include transition-duration(0.6s);
        @include transform-style(preserve-3d);
        position: relative;
    }
    .front,
    .back {
        @include backface-visibility(hidden);
        position: absolute;
        top: 0;
        left: 0;
    }
    .back {
        z-index: 2;
        @include transform(rotateY(0deg));
    }
    .front {
        // booster cards start with their backs visible:
        @include transform(rotateY(180deg));
    }
}

#craftingPanel {
    position: absolute;
    left: 1400px;
    top: 320px;
    background: #222;
    color: #fff;
    ul {
        margin: 6px;
        padding: 0;
        list-style: none;
        width: 250px;
        height: 300px;
        overflow: auto;
        li {
            display: none;
            background: #666;
            @include transition(background 0.4s ease);
            padding: 6px 0;
            &.active {
                display: block;
            }
            img {
                float: left;
            }
            &.highlighted {
                background: #b4a435;
            }
        }
        h3,
        p {
            margin: 0;
            padding: 0;
        }
    }
}

#craftingRecipeCreateButton {
    @include transition(background 0.4s ease);
    color: #fff;
    border: 0;
    background: #682810;
    cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
    &:disabled {
        background: #000;
        cursor: default;
    }
}

.visibleHide {
    @include visibleHide;
}

// select dropdowns --------------------------------
// http://jsbin.com/juvixufu/10/edit?html,output
.selectWrapper {
    position: relative;
    display: block;
    margin-top: 0.5em;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    select {
        color: #fff;
        /* Make sure the select is wider than the container so we can clip the arrow */
        cursor: pointer;
        width: 110%;
        max-width: 110%;
        min-width: 110%;
        /* Remove select styling */
        appearance: none;
        -webkit-appearance: none;
        /* Ugly Firefox way of doing it */
        -moz-appearance: window;
        text-indent: 0.01px;
        text-overflow: "";
        background: none;
        border: none;
        outline: none;
        /* Padding works surpringly well */
        padding: .4em 19% .4em .8em;
        font-family: helvetica, sans-serif;
        line-height: 1.2;
        margin: .2em;
    }
    /* This hides native dropdown button arrow in IE */
    select::-ms-expand {
        display: none;
    }
    /* Custom arrow - could be an image, SVG, icon font, etc. */
    &:after {
        background: none;
        color: #fff;
        content: "V";
        font-size: 1.5em;
        padding: 0;
        position: absolute;
        right: 0.4em;
        top: 0.2em;
        bottom: .3em;
        z-index: 1;
        /* This hack makes the select behind the arrow clickable in some browsers */
        pointer-events: none;
    }
    /* Focus style */
    select:focus {
        outline: none;
    }
    /* This hides focus around selected option in FF */
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

#clearRecipeSearch {
    border: 0;
    opacity: 0;
    @include transition(opacity 0.4s ease);
    pointer-events: none;
    @include border-radius(10);
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    span {
        @include visibleHide;
    }
    &:after {
        content: "x";
    }
}

#splitStackPanel {
    opacity: 0;
    pointer-events: none;
    background: #cecece;
    position: absolute;
    left: -100px;
    top: -100px;
    @include transition(opacity 0.2s ease);
    &.active {
        pointer-events: auto;
        opacity: 1;
    }
    fieldset {
        border: 0;
    }
}

#selectComponentsItemBeingCreated {
    background: #cecece;
    margin: 0 10px 0 0;
    float: left;
}

#componentsAvailableForThisRecipe {
    width: 246px;
    background: #cecece;
    margin: 0 10px 0 0;
    float: left;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
   
        .qty {
            position: absolute;
            left: 0px;
            width: 43px;
            top: 31px;
            text-align: right;
            color: #fff;
            cursor: default;
            font-size: 11px;
            pointer-events: none;
        }
   
        p {
            display: inline-block;
            font-size: 13px;
            padding: 0;
    width: 180px;
    margin: 0;
    vertical-align: top;
    .price {
        display: none;
    }
        }
    }
}

#selectComponentsItemBeingCreated, #componentsAvailableForThisRecipe {
        ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        margin: 0;
        padding: 0 0 6px 0;
        position: relative;
    }
         img {
            background: url(../images/game-world/interface/inventory-slot.png) no-repeat 0% 50%;
            display: inline-block;
            cursor: url(../images/game-world/cursors/active.gif) 3 3, auto;
            width: 46px;
            height: 46px;
            padding: 3px;
            margin-right: 12px;
            @include border-box;
        }
    }



// custom scroll bars -----------
body {
  background: #cecece;
}
.customScrollBar {
  
  width: 200px;
  height: 250px;
position: relative;
 
  background:#fff;

  overflow: hidden;
}


  .customScrollContent {
  overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  height: 100%;
  
}
 .customScrollContent p {

  padding: 0;
  margin: 0;
 

  /* not ideal to have to do it on the inner elements ### */
   padding-right: 24px;
}

  .trackBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; border-radius: 10px;
  height: 100%;
  background: rgba(0,0,0,0.2);
   box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  /* allow mouse whell scroll when mouse is over the scrollbar: */
  pointer-events: none;
}
 .dragger {
  width: 10px;
  background: #000;
pointer-events: auto;
  border-radius: 10px;
 /* position: absolute;
  top: 0;*/
}
// ------------------------------